<div class="container">
    <div class=""offset-md-3 col-md-6"></div>
    <form class="form" method="post">
        <div class="form-group">
            <label for="nameTextField">Contact Name</label>
            <input type="text" class="form-control"
            id="nameTextField" placeholder="Enter Your Name"
            name="name" required>
        </div>

        <div class="form-group">
            <label for="nameTextField">Contact Number</label>
            <input type="text" class="form-control"
            id="nameTextField" placeholder="Enter Your Name"
            name="name" required>
        </div>

    </form>
</div>