<div class="container">   
    <h1><%= title %></h1>
    
        <div style="padding-top: 20px;">
            
            <table>
                <tr>
                    <td><img src="./Assets/images/phone.jpg" alt="" width="20" height="20"></td>
                    <td>Phone number: </td>
                    <td>+1 647 762 1426</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="./Assets/images/facebook.jpg" alt="" width="20" height="20"></td>
                    <td>Facebook</td>
                    <td>kiruriluap</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="./Assets/images/twitter.jpg" alt="" width="20" height="20"></td>
                    <td>Twitter handle</td>
                    <td>@kiruriluap</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="./Assets/images/email.jpg" alt="" width="20" height="20"></td>
                    <td>Email</td>
                    <td>pkamau@my.centennialcollege.ca</td>
                </tr>
            </table>
        </div>
    </body>

</div>