<div class="container">
    <h1><%= title %></h1>
       
        <div style="padding-top: 20px;">
            
            <ol>
                <li>Website Development</li>
                <li>Graphic Design Development</li>
                <li>Social Media Marketing</li>
                <li>Project Development & Implementation</li>
            </ol>
        </div>
    </body>
</html>

</div>