<div class="container">
    <h1><%= title %></h1>
    
    <body>
        <tr>
            <td></td>
        </tr>
        <div style="padding-top: 20px;">
            <tr>
                <td>
                    <img src="./Assets/images/paul.jpg" alt="" width="200" height="200">
                </td>
            </tr>            
            
            <table>
                <tr> 
                    <td> </td>
                    <td><h1>Paul Kamau</h1></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr> 
                    <td valign="top"> </td>
                    <td>
                        My name is Paul Kamau. I'm an Software Engineering student at Centennial college. This is my third semester. <br>
                         <br>
                        I like to travel, shot pool and watch documentaries.
                    </td>
                </tr>
                
            </table>
        </div>
    </body>
</div>