        <div class="container">
            <h1><%= title %></h1>

                <div style="padding-top: 20px;">
                    Welcome everyone to My World. <br>
                    This is where you can get to know me. <br> <br>

                    I am really happy to develop my webpage.
                    please feel free to DM 
                    <br><br><br>
                    <h4>Mission</h4> <br>
                    A computer science student passionate about programming and design. <br>
                    I am interested in working for a design company. <br>
                    I am open to work from any location.
                </div>
        </div>