<div class="container">
    <h1><%= title %></h1>
    <body>
        
        <div style="padding-top: 20px;">
            
            <table>
                <tr>
                    <td><img src="./Assets/images/church.jpg" alt="" width="130" height="124"></td>
                    <td>
                        <strong>Church Website</strong><br>
                        Designing of an east to use and interactive church website.
                        <br>
                        Role: Design, Documentation, Implementation.
                    </td>
                </tr>
                <tr>                   
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td><img src="./Assets/images/snake.jpg" alt="" width="130" height="124"></td>
                    <td>
                        <strong>Snake Game</strong><br>
                        Designed, documented and implemented of a fun filled challenging game.
                        <br>
                        Role: Design, Documentation, Implementation.
                    </td>
                </tr>
            </table>
        </div>
    </body>

</div>