<!--Bottom Nav-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-light">
        <div class="container-fluid">
    <h18 id="Copyright">&copy; Paul Kamau- ID#: 301198424 -Date 15-06-2022-COMP229 Assignment2 Copyright 2022. All Rights reserved.</h18>
</div>
  </nav>
    </footer>