<!--Bottom Nav-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-light">
        <div class="container-fluid">
    <h18 id="Copyright">&copy; Paul Kamau, ID COMP229 Assignment1 Copyright 2022. All Rights reserved.</h18>
</div>
  </nav>
    </footer>